In [6]:
import pandas as pd #There are two core objects in pandas: the DataFrame and the Series.
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

## SERIES

In [7]:
#A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. 
#And in fact you can create one with nothing more than a list:

In [8]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [ ]:
'''

The Series and the DataFrame are intimately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together".We'll see more of this in the next section of this tutorial.

So a CSV file is a table of values separated by commas. Hence the name: "Comma-Separated Values", or CSV.

'''

In [13]:
print(dir(pd.read_csv))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [76]:
#wine_reviews = pd.read_csv("C:\\Users\\Kasutaja\\Desktop\\COGNIXIA\\Session2\\ign.csv")
#ine_reviews = pd.read_csv("C:\\Users\\Kasutaja\\Desktop\\S3\\Students_Data.csv")
wine_reviews = pd.read_csv("C:\\Users\\Kasutaja\\Desktop\\COGNIXIA\\data.csv")

In [77]:
#We can use the shape attribute to check' how large the resulting DataFrame is:
wine_reviews.shape

(129971, 14)

In [78]:
#So our new DataFrame has 130,000 records split across 14 different columns.

In [79]:
#We can examine the contents of the resultant DataFrame using the head() command, which grabs the first five rows:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk√† Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O‚ÄôKeefe,@kerinokeefe,Nicosia 2013 Vulk√† Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [80]:
wine_reviews = pd.read_csv("C:\\Users\\Kasutaja\\Desktop\\COGNIXIA\\data.csv", index_col = 0)
wine_reviews.head() #To make pandas use that column for the index (instead of creating a new one from scratch), we can specify an index_col.

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk√† Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O‚ÄôKeefe,@kerinokeefe,Nicosia 2013 Vulk√† Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [81]:
wine_reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk√† Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O‚ÄôKeefe,@kerinokeefe,Nicosia 2013 Vulk√† Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Sp√§tlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben M√ºller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben M√ºller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gew√ºrztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuv√©e Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuv√©e Car...,Gew√ºrztraminer,Domaine Schoffit

In [38]:
wine_reviews.PlaceofBirth

gender
M    KuwaIT
M    KuwaIT
M    KuwaIT
M    KuwaIT
M    KuwaIT
      ...
F    Jordan
F    Jordan
F    Jordan
F    Jordan
F    Jordan
Name: PlaceofBirth, Length: 480, dtype: object

In [39]:
wine_reviews.Relation

gender
M    Father
M    Father
M    Father
M    Father
M    Father
      ...
F    Father
F    Father
F    Father
F    Father
F    Father
Name: Relation, Length: 480, dtype: object

In [40]:
wine_reviews.Relation.head()

gender
M    Father
M    Father
M    Father
M    Father
M    Father
Name: Relation, dtype: object

In [41]:
wine_reviews['Relation'][0]

'Father'

In [42]:
wine_reviews.iloc[0]

NationalITy                         KW
PlaceofBirth                    KuwaIT
StageID                     lowerlevel
GradeID                           G-04
SectionID                            A
Topic                               IT
Semester                             F
Relation                        Father
raisedhands                         15
VisITedResources                    16
AnnouncementsView                    2
Discussion                          20
ParentAnsweringSurvey              Yes
ParentschoolSatisfaction          Good
StudentAbsenceDays             Under-7
Class                                M
Name: M, dtype: object

In [32]:
#Both loc and iloc are row-first, column-second. This is the opposite of what 
#we do in native Python, which is column-first, row-second.

In [44]:
wine_reviews.iloc[:, 0]

gender
M        KW
M        KW
M        KW
M        KW
M        KW
      ...
F    Jordan
F    Jordan
F    Jordan
F    Jordan
F    Jordan
Name: NationalITy, Length: 480, dtype: object

In [45]:
wine_reviews.iloc[:3, 0]

gender
M    KW
M    KW
M    KW
Name: NationalITy, dtype: object

In [46]:
wine_reviews.iloc[1:3, 0]

gender
M    KW
M    KW
Name: NationalITy, dtype: object

In [47]:
wine_reviews.iloc[[0, 1, 2], 0]

gender
M    KW
M    KW
M    KW
Name: NationalITy, dtype: object

In [48]:
wine_reviews.iloc[-5: ]

,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
gender,,,,,,,,,,,,,,,,
F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

## Label-based selection

In [61]:
wine_reviews.loc[:,'Topic']

gender
M           IT
M           IT
M           IT
M           IT
M           IT
       ...
F    Chemistry
F      Geology
F      Geology
F      History
F      History
Name: Topic, Length: 480, dtype: object

In [62]:
#loc and iloc
#df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000]