In [1]:
# Use and throw functions with no name

In [2]:
add_fn = lambda x,y: x+y

In [3]:
add_fn(40,56)

96

In [4]:
del add_fn

In [5]:
some_list = (3,5,6,23,54,93)

In [6]:
greater_than_50 = lambda x: x > 50

In [7]:
result = filter(greater_than_50, some_list)

In [8]:
result

In [9]:
result =list(result)

In [10]:
result

[54, 93]

In [11]:
name = ['Dare', 'Joeseph', 'Folorunsho', 'Pranoti', 'Oluwadamilare']

In [15]:
list(filter(lambda name: len(name) > 6, name))

['Joeseph', 'Folorunsho', 'Pranoti', 'Oluwadamilare']

In [21]:
increment_by_4 = lambda x: x+4

In [22]:
result = map(increment_by_4, some_list)

In [19]:
result

In [23]:
result = list(result)
result

[7, 9, 10, 27, 58, 97]

In [24]:
 # map helps to generate a new list by applying the function to every element of the original list

In [25]:
some_list

(3, 5, 6, 23, 54, 93)

In [28]:
list(map(lambda n: n + " Boo ", name))

['Dare Boo ',
 'Joeseph Boo ',
 'Folorunsho Boo ',
 'Pranoti Boo ',
 'Oluwadamilare Boo ']

In [29]:
sum_fn = lambda x,y: x + y

In [30]:
from functools import reduce
result = reduce(sum_fn, some_list)

In [31]:
result

184

In [34]:
reduce(lambda a, b: a if (len(a) > len(b)) else b, name)

'Oluwadamilare'

## List Comprehension

In [35]:
#Generating a list from another list

In [36]:
some_numbers = [1,2,3,4,5,6]

In [37]:
squares = [x**2 for x in some_numbers]

In [38]:
squares

[1, 4, 9, 16, 25, 36]

In [39]:
upto_10_list = [num for num in range(1,11)]

In [40]:
upto_10_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
colors = ["red", "green", "yellow", "blue"]

In [42]:
things = ["house", "car", "tree"]

In [43]:
pairs = [(t,c) for t in things for c in colors]

In [44]:
pairs

[('house', 'red'),
 ('house', 'green'),
 ('house', 'yellow'),
 ('house', 'blue'),
 ('car', 'red'),
 ('car', 'green'),
 ('car', 'yellow'),
 ('car', 'blue'),
 ('tree', 'red'),
 ('tree', 'green'),
 ('tree', 'yellow'),
 ('tree', 'blue')]

In [45]:
some_numbers = [1,24,56,78,45,96]
y = sorted(some_numbers)

In [46]:
y

[1, 24, 45, 56, 78, 96]

In [47]:
numbers_over_50 = [x for x in some_numbers if x > 50]

In [48]:
numbers_over_50

[56, 78, 96]

In [49]:
def add_fn(a,b):
    return a + b

In [50]:
add_fn(40,56)

96

In [51]:
some_fn = add_fn

In [52]:
some_fn(89,45)

134

In [53]:
some_fn("Dare ", "Isaac")

'Dare Isaac'

In [54]:
def perform_operation(fn,a, b):
    result = fn(a,b)
    
    return result

In [55]:
perform_operation(add_fn, 3,5)

8

In [56]:
def substract_fn(a,b):
    return a-b

In [59]:
perform_operation(substract_fn,7,2)

5