In [5]:
mylist1 = [1,2,3]
mylist2 = ['a', 'b','c']
mylist3 = [100,200,300]

In [7]:
zip(mylist1, mylist2,mylist3)

In [6]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [8]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [9]:
d = {'mykey': 345}

345 in d.keys()

False

In [10]:
mylist = [10,20,30,40,100]

In [11]:
min(mylist)

10

In [12]:
max(mylist)

100

In [ ]:
#random generators import from library

In [13]:
from random import shuffle

In [14]:
mylist =[1,2,3,4,5,6,7,8,9,10,11,13,14,16,18]

In [15]:
shuffle(mylist)

In [16]:
mylist

[8, 9, 14, 13, 5, 7, 4, 16, 3, 11, 18, 6, 1, 2, 10]

In [18]:
from random import randint

In [ ]:
randint(2,200)

In [1]:
result = input('what is your name: ') #input always accept things as a string

what is your name: Dare

In [ ]:
number =int(input('Enter a number: '))

In [ ]:
type(number)

In [ ]:

number1 = int(input("Enter two numbers: ", ))
number2 = int(input("Enter two numbers: ", ))

In [1]:
name = str(input('Enter a name: '))

Enter a name: Dare

In [2]:
name

'Dare'

In [3]:
type(name)

str

## List Comprehension

In [4]:
mystring = 'hello'

In [5]:
mylist =[]

for letter in mystring:
    mylist.append(letter)

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
#on a sinlge line

In [8]:
mylist =[letter for letter in mystring]

In [9]:
mylist

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist = [x for x in 'word']

In [11]:
mylist

['w', 'o', 'r', 'd']

In [12]:
mylist = [qweqwe for qweqwe in 'wordtwo']

In [13]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [14]:
mylist =[num**2 for num in range(0,11)]

In [15]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# to print even numbers

In [17]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [18]:
mylist

[0, 4, 16, 36, 64, 100]

In [19]:
celcius = [0,10,20,34.5]

fahrenheit = [(9/5)*temp + 32 for temp in celcius]

In [20]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [23]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [24]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [25]:
results = [x if x%2 ==0 else 'ODD' for x in range(0,11)]

In [26]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [27]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [28]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]